<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Ph.D. Dissertation</span></h5>
        <br>
        <center>
            <a href = "https://drive.google.com/file/d/1h9kTC167nkdj9AI0NrHs2cKJ0ZV0Ww1i/view"> <img src="https://kanishkegb.github.io/assets/images/dissertation.png" alt="Dissertation" width="200"> </a> 
        </center>
        <br>
        My Ph.D. dissertation, defended at GWU, titled <a href = https://drive.google.com/file/d/1h9kTC167nkdj9AI0NrHs2cKJ0ZV0Ww1i/view> <i>Geometric Control and Estimation for Autonomous UAVs in Ocean Environments</i> </a>.
        <br>
    </div>
</div>